  <mat-toolbar color="primary" class="transparent">
    <button mat-icon-button class="example-icon">
      <img src="assets/img/icon.png" alt="icon" style="width: 215px; height: 60px; margin-left: 30px;">
    </button>
    <span class="example-spacer"></span>
    <button mat-button color="accent" routerLink="/">Home</button>
    <button mat-button color="accent" routerLink="/resources">Resources</button>
    <button mat-button color="accent" routerLink="/about">About</button>
    <button mat-button color="accent" routerLink="/contact">Contact</button>    
  </mat-toolbar>
  <router-outlet></router-outlet>
  